services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: cs_user
      POSTGRES_PASSWORD: cx_pass
      POSTGRES_DB: cx_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
